CatalogoCloud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  ========================================================
  Módulo: LMSGI - CFGS DAM/DAW
  Autor: Willman Acosta Lugo
  Descripción: Esquema XSD con restricciones RegEx para validar catalogo.xml
  ========================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- ========================================== -->
    <!-- DEFINICIÓN DE TIPOS SIMPLES (CON REGEX)    -->
    <!-- ========================================== -->

    <!-- Validamos que el ID del servidor siga el patrón: srv-letras-numeros -->
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <!-- RegEx: Empieza por srv-, seguido de letras minúsculas, guion, y exactamente 2
            dígitos -->
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la zona geográfica siga el estándar: 2 letras - texto - número -->
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "eu-sur-1" o "us-east-2" -->
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que el Rack sea una letra mayúscula seguida de 1 o 2 números -->
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la versión del SO sean números, opcionalmente separados por un punto -->
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "15", "9", "22.04" -->
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos el estado mediante un patrón de enumeración (Pipeline de RegEx) -->
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================================== -->
    <!-- ESTRUCTURA DEL DOCUMENTO (ELEMENTOS)       -->
    <!-- ========================================== -->
  <xs:simpleType name="TipoUnidadMedia">
      <xs:restriction base="xs:string">
        <xs:enumeration value="MB" />
        <xs:enumeration value="GB" />
        <xs:enumeration value="TB" />
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoDisco">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NVMe" />
            <xs:enumeration value="SSD" />
            <xs:enumeration value="HDD" />
        </xs:restriction>
    </xs:simpleType>
  <xs:complexType name="TipoDetalleDisco">
        <xs:attribute name="tipo" type="TipoDisco" use="required" />
        <xs:attribute name="capacidad_tb" type="xs:integer" use="required" />
        <xs:attribute name="principal" type="xs:boolean" use="required" />
    </xs:complexType>

                  <!-- Hardware -->
                    <xs:complexType name="TipoHardware">
                        <xs:sequence>
                            <xs:element name="cpu">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="nucleos" type="xs:integer" use="required" />
                                            <xs:attribute name="arquitectura" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ram">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:integer">
                                        <xs:attribute name="unidad" type="TipoUnidadMedida" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="gpu" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="modelo" type="xs:string" use="required" />
                                        <xs:attribute name="vram_gb" type="xs:integer" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>

                          <xs:element name="discos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="disco" type="TipoDetalleDisco" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        </xs:sequence>
        </xs:complexType>
        </xs:element>

                                        <!-- Software -->
                      <xs:complexType name="TipoSoftware">
                      <xs:sequence>
                        <xs:element name="so">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="version" type="TipoVersion" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="servicios">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="servicio" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="puerto" type="xs:integer" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

        <xs:complexType name="TipoServidor">
        <xs:sequence>
            <xs:element name="hardware" type="TipoHardware" />
            <xs:element name="software" type="TipoSoftware" />
        </xs:sequence>
        <xs:attribute name="id" type="TipoIdServidor" use="required" />
        <xs:attribute name="rack" type="TipoRack" use="required" />
        <xs:attribute name="estado" type="TipoEstado" use="required" />
    </xs:complexType>

  <!-- Atributos del Centro de Datos -->
      <xs:complexType name="TipoCentroDatos">
        <xs:sequence>
            <xs:element name="servidor" type="TipoServidor" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="ubicacion" type="xs:string" use="required" />
        <xs:attribute name="zona" type="TipoZona" use="required" />
    </xs:complexType>

    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" type="TipoCentroDatos" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

</xs:schema>
